Django>=4.2,<6.0
djangorestframework>=3.14.0
Pillow>=10.0.0
python-decouple>=3.8
django-crispy-forms>=2.0
crispy-bootstrap5>=2024.2
django-import-export>=4.0.0

# AI / Google Gemini
requests>=2.31.0

# PDF / OCR
PyMuPDF>=1.23.0
pytesseract>=0.3.10

# Utilities
django-widget-tweaks>=1.5.0

gunicorn==26.2.0
whitenoise==6.12.0
